body {
  display: flex;
  padding: 0;
  margin: 0;
  background-image: url('../midias/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-blured.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Flexo-Demi", arial, sans-serif;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li, div {
  color: white;
}

:root {
  --pokedex-width: 660px;
  --pokedex-heigth: 550px;
}

/* Para navegadores baseados no Webkit (Chrome e Safari) */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Track (trilha) da barra de rolagem */
::-webkit-scrollbar-track {
  background: #3a3a3a;
}

/* Thumb (alça) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 5px;
}

*:focus, *:active {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* Remova o destaque do clique no Safari */
}

@media (max-width: 768px) {
  body {
    transform: rotate(90deg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
